html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url('https://cdn.bleacherreport.net/images_root/slides/photos/000/396/224/82887323_original.jpg?1284568988');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-size: 40%;
    background-position-x: -5em;
    background-color: #1C1F24;
}

#logo {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    float:left;
    padding-left: 10px;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #F76902;
    position: fixed;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #F76902;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #7C878E;
}

.mainForm {
    height: 20px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
    margin-right: 33%;
    margin-top: -5%;
}

.videoList {
    height: 20px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
    margin-right: 25%;
    margin-top: -3%;
    color: white;
}

.mainForm h3 {
    text-align: center;
}


.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.1em;
    width: 100px;
    background-color: #7C878E;
    border-color: black;
    padding: 3px 0px;
    color: white;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
    background-color: #F76902;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F76902;
}

.searchFormSubmit {
    transition: background-color 0.4s ease;
    text-align: center;
    font-size: 1.3em;
    width: 100px;
    background-color: #F76902;
    padding: 3px 0px;
    color: white;
}

.searchFormSubmit:link, .searchFormSubmit:visited, .searchFormSubmit:hover, .searchFormSubmit:active {
    color: white;
    background-color: #7C878E;
}

.searchFormSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #7C878E;
}

#user, #pass, #pass2, #pass3 {
    text-align: center;
    font-size: 1.1em;
    width: 190px;
    border-radius: 6px;
    margin-left: 23%;
    margin-top: 10px;
}

#user:focus, #pass:focus, #pass2:focus, #pass3:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #F76902;
}

#video {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

.gameLogo {
    width: 55%;
}

.table {
    width: 50%; 
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 13%;
    background-color: #586073;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}


.alert {
    width: 20%;
    position: absolute;
    margin: 0 auto; 
    margin-left: 5%;
    z-index: 1;
    text-align: center;
    margin-top: 15%;
}

.fa-youtube {
    transition: color 0.5s ease;
    color: #F76902;
}

.fa-youtube:hover {
    transition: color 0.5s ease;
    color: #CF6902;
}

.fa-trash {
    transition: color 0.5s ease;
    color: black;
}

.delete:hover > .fa-trash {
    transition: color 0.5s ease;
    color: gray;
}

#static {
    width: 50%; 
    margin: 0 auto;
    margin-right: 13%;
    margin-top: 5%;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

#videoFormTable {
    width: 50%; 
    margin: 0 auto;
    margin-right: 13%;
    background-color: #586073;
    color: black;
    border-radius: 5px;
    font-size: 16px;
}

#videoFormTable > tbody > tr > td > input {
    width: 150px;
}

#searchFormTable {
    width: 50%; 
    background-color: transparent;
    color: black;
    font-size: 16px;
    position: fixed;
    right: -10%;
    top: -11%;
    border: 5px solid transparent;
}

#searchFormTable > tbody > tr > td > .form-control {
    vertical-align: middle;
}

#searchFormTable > tbody > tr  {
    vertical-align: middle;
}

select:invalid {
    color: gray;
}

.table > tbody > tr > td{
    vertical-align: middle;
    padding-right: 20px;

}

.table > tbody > tr > th  {
    vertical-align: middle;

}

.table > tbody > tr > .td{
    vertical-align: middle;
}

#static > .form-control {
    display: inline;
    margin: 0 auto;
    width: 25%;
    margin-bottom: 2%;
}


#static > #Game {
    margin-left: 15%;
    width: 15%;
}

#static > #videoLink {
    width: 50%;
}

#static > .btn-primary {
    margin-top: 15px;
    margin-left: 30%;
    background-color: hsl(351, 68%, 11%) !important;
 
    background-repeat: repeat-x;
 
    background-image: -o-linear-gradient(top, #F76902, #7C878E);
    
    background-image: linear-gradient(#F76902, #2f080e);
    
    border-color: #2f080e #2f080e hsl(351, 68%, 1.5%);
    
    color: #fff !important;
    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
 
    background-color: hsl(360, 68%, 60%) !important;
     
    background-repeat: repeat-x;
     
    background-image: linear-gradient(#fbeded, #de5353);
     
    border-color: #de5353 #de5353 hsl(360, 68%, 51%);
     
    color: #333 !important;
     
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
}
     

#static > .btn-default {
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 15px;

}

button.delete {
    float:right;
    text-align: left;
}

#ad {
    position: fixed;
    width: 8%;
    height: 40%;
    border: 10px solid #F76902;
    right: 50;
    top: 11%;
    color: #F76902;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#adtwo {
    position: fixed;
    width: 8%;
    height: 40%;
    border: 10px solid #F76902;
    right: 50;
    top: 55%;
    color: #F76902;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

