html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url('https://cdn.bleacherreport.net/images_root/slides/photos/000/396/224/82887323_original.jpg?1284568988');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-size: 40%;
    background-position-x: -5em;
    background-color: #1C1F24;
}

#logo {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    float:left;
    padding-left: 10px;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #F76902;
    position: fixed;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #F76902;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #7C878E;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#video {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

.gameLogo {
    width: 55%;
}

.table {
    width: 50%; 
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 13%;
    background-color: #586073;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;

}

.alert {
    width: 20%;
    position: absolute;
    margin: 0 auto; 
    margin-left: 5%;
    z-index: 1;
    text-align: center;
    margin-top: 15%;
}

.fa-youtube {
    color: #F76902;
}

.fa-trash {
    color: black;
}

.fa-trash:hover {
    transition: color 0.8s ease;
    color: gray;
}

#static {
    width: 50%; 
    margin: 0 auto;
    margin-right: 13%;
    margin-top: 5%;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

#videoFormTable {
    width: 50%; 
    margin: 0 auto;
    margin-right: 13%;
    background-color: #586073;
    color: black;
    border-radius: 5px;
    font-size: 16px;
}

select:invalid {
    color: gray;
}

.table > tbody > tr > td{
    vertical-align: middle;

}

.table > tbody > tr > th  {
    vertical-align: middle;

}

.table > tbody > tr > .td{
    vertical-align: middle;
}


.form-control {
    margin: 0 auto;
    margin-top: 5%;
    margin-right: 30%;
    font-weight: bold;
}

#static > .form-control {
    display: inline;
    margin: 0 auto;
    width: 25%;
    margin-bottom: 2%;
}

#static > #Game {
    margin-left: 15%;
    width: 15%;
}

#static > #videoLink {
    width: 50%;
}

#static > .btn-primary {
    margin-top: 15px;
    margin-left: 30%;
    color: #F76902;

}

#static > .btn-default {
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 15px;

}

.form-actions {
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    margin-top: 5px;
}

.form-actions > .btn{
    background-color: red;
}

button.delete {
    float:right;
    text-align: left;
}

#ad {
    position: fixed;
    width: 8%;
    height: 40%;
    border: 10px solid red;
    right: 50;
    top: 11%;
    color: red;
}

#adtwo {
    position: fixed;
    width: 8%;
    height: 40%;
    border: 10px solid blue;
    right: 50;
    top: 55%;
    color: blue;
}

